
<div class="container">
  <!-- #employeeform = 'ngForm' -->
  <mat-card>
    <form [formGroup]="employeeForm" class="form" (ngSubmit)="submitForm()">
      <div class="form-header">Employee Payroll From</div>

      <div class="form-content">
        <!-- Creating name section in form -->
        <mat-label class="main-tag">Name</mat-label>
        <mat-form-field class="width ml" appearance="outline">
          <input
            class="name-input"
            type="text"
            matInput
            formControlName="employeeName"
          />
          <mat-hint align="end">{{fullName.value?.length||0}}/30</mat-hint>
          <mat-error *ngIf="myError('employeeName', 'required')">This is a required field</mat-error>
          <mat-error *ngIf="myError('employeeName', 'minlength')">Name should contain at least 3 characters</mat-error>
          <mat-error *ngIf="myError('employeeName', 'pattern')">First letter should be capitalized</mat-error>
          <mat-error *ngIf="myError('employeeName', 'maxlength')">Name should contain at most 30 characters</mat-error>
          <!-- <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">This is a required field</mat-error> -->
        </mat-form-field>
        <br />
        <br />
     
        <!-- Creating profile image selection section in form -->
        <mat-label class="main-tag">Profile image</mat-label>
        <mat-radio-group class="profile-ml" formControlName="image">
          <mat-radio-button *ngFor="let profile of profiles"
            class="radio-btn"
            color="primary"
            [value]="profile"
          >
            <img
              class="profile"
              [src]="profile"
              alt="1"
            />
          </mat-radio-button>

        
        </mat-radio-group>

        <br />
        <br />

        <!-- Creating gender selection section -->

        <mat-label class="main-tag">Gender</mat-label>
        <mat-radio-group class="Gender-ml" formControlName="gender">
          <mat-radio-button class="radio-btn" color="primary" value="male">
            <mat-label class="text">Male</mat-label>
          </mat-radio-button>

          <mat-radio-button
            class="radio-btn"
            style="margin-left: 33px"
            color="primary"
            value="female"
          >
            <mat-label class="text">Female</mat-label>
          </mat-radio-button>
        </mat-radio-group>

        <br />
        <br />

        <!-- Creating Department selection section -->

        <mat-label class="main-tag">Department</mat-label>
        <section class="department-ml">
          <mat-checkbox *ngFor="let department of departments;index as i" [checked]="isChecked(department)" [style.margin-left]="i?'20px':'0px'" (change)="onDepartmentChange($event)" [value]="department"color="primary">
            <mat-label>{{department}}</mat-label>
          </mat-checkbox>
         
        </section>

        <br />
        <br />

        <!-- Creating salary selection section -->

        <mat-label class="main-tag">Salary</mat-label>
      
        <mat-slider        
          color="primary"
          class="salary-ml"
          thumbLabel
          discrete 
          [displayWith]="formatLabel"
          tickInterval="1000"
          step="10000"
          min="10000"
          max="100000"
        >
          <input matSliderThumb  formControlName="salary" />
      
        </mat-slider>

        <br />
        <br />

        <!-- Creating Start date selection section -->
        
        <mat-label class="main-tag">Start Date</mat-label>
        <mat-form-field class="date-ml" appearance="fill">
       
        <input matInput [matDatepicker]="picker" [max]="today" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker  #picker></mat-datepicker> 
                <mat-error *ngIf="myError('date', 'required')">This is a required field</mat-error>
        </mat-form-field>

        <br />
        <br />

        <!-- Creating Note section -->
        <div class="note-container">
          <mat-label class="main-tag">Note</mat-label>
          <mat-form-field class="Note-ml width" appearance="outline">
            <textarea
              matInput
              class="input"
              style="height: 70px"
              formControlName="note"
            ></textarea>
          <mat-error *ngIf="myError('note', 'required')">This is a required field</mat-error>

          </mat-form-field>
        </div>

        <br />

        <div class="button-flex">
          <button class="cancel" routerLink="/dashboard" mat-flat-button>
            Cancel
          </button>

          <div class="right-buttons">
            <button class="submit" *ngIf="submit"  type="submit" mat-flat-button>Submit</button>
            <button class="submit" *ngIf="update"  type="submit" mat-flat-button>Update</button>
            <button class="reset"  (click)="resetForm()" type="reset" mat-flat-button>Reset</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
